.Card1Style{
	width: 300px;
	top:-390px;
	left: 800px;
}

.Card2Style{
	width: 300px;
	top:-618px;
	left: 1150px;
}

.Card3Style{
	width: 300px;
	top:-600px;
	left: 800px;
}

.Card4Style{
	width: 300px;
	top:-828px;
	left: 1150px;
}